/* 1. element, 
   2. .class, 
   3. element.class, 
   4. element, element 

*/

/* for background: 
  background-color, 
  background-image, 
  background-repeat, 
  background-attachment, //scroll or fixed
  background-position, 
  background */

* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(/Frontend/assests/img01.gif);
  background-repeat: no-repeat;
  background-position: right top center;
}

.info h1 {
  color: white;
  background-color: black;
  /* rgba(, , , ,)*/
  /* opacity: 0.2; */
  /* between  0 to 1 */
  text-align: center;
  font-size: 100px;
}

.info h3 {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.info p {
  text-align: center;
  font-size: 30px;
}

.contact-links p {
  text-align: left;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.contact-links ul {
  display: grid;
  align-items: center;
}

.contact-links li {
  align-items: center;
  margin: 10px;
}


/* Borders */
.info p {
  /* border: 6px solid red; */
  margin: 20px 100px 20px 100px;
}

.contact-links .links {
  text-align: center;
}

.projects {
  justify-items: center;
}

.projects h4 {
  text-align: center;
}

.project-cards {
  align-items: center;
  display: flex;
  margin-left: 5px;
}

.project-cards .card-1 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.project-cards .card-2 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.project-cards .card-3 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.project-cards .card-4 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.project-cards .card-5 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}